<!DOCTYPE html>
<html>
   <head>

   </head>

   <body>
      <h1>Club Esprit</h1>
      <p>Fondée en 2003 à l’initiative de trois universitaires ayant conduit de nombreux projets dans l’enseignement supérieur tunisien, et dans l’enseignement supérieur technique en particulier, entourés de plusieurs dizaines de leurs collègues, ainsi que d’entreprises TIC et de partenaires financiers, Esprit a dès le départ mis en place des formations basées sur des valeurs intangibles.</p>
      <img src="{{ asset('img/Esprit.jpg') }}">
   </body>
</html>

